svg use svg {
  width: 100%;
  height: auto;
}

.icons {
  width: 100%;
  height: auto;
}

body {
  color: #434455;
  background: #fff;
  font-family: "Roboto", sans-serif;
}
body.no-scroll {
  overflow: hidden;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logotype {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.logo {
  color: #2e2f42;
}

.navlist {
  display: none;
}

.contact-block {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }

  .logotype {
    margin-right: 120px;
  }

  .navlist {
    display: flex;
    gap: 40px;
  }
  .box {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .bux {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navlist-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navlist-link:hover,
  .navlist-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .contact-block {
    display: block;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logotype {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* modal */
.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 320px;
  height: 100%;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.navlist-modal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-drop {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 0 24px 0 16px;
}

.footer-son-link-mobile {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.team-son-link-mobile {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-son-link-mobile:hover,
.team-son-link-mobile:focus {
  background-color: #404bbf;
}

.team-son-list-mobile {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-son-list-mobile {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.footer-son-link-mobile:hover,
.footer-son-link-mobile:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.page-nav-mobile {
  width: 151px;
  height: 200px;
  margin-top: 72px;
  margin-bottom: 168px;
}

.navlist-link-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navlist-link-mobile:hover,
.navlist-link-mobile:focus {
  color: #404bbf;
}

.current-mobile {
  color: #404bbf;
}

.current-mobile::after {
  content: "";
  position: absolute;
  background: #404bbf;
  transition-property: all 0.4s;
}
.contact-block-mobile {
  margin-bottom: 48px;
  margin-right: 0;
}
.contact-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.contact-link-mobile:hover {
  color: #404bbf;
}
.current-mobile-adress {
  color: #4d5ae5;
}

.current-mobile-adress::after {
  content: "";
  position: absolute;
  background: #404bbf;
  transition-property: all 0.4s;
}
.hero-image {
  background: #2e2f42;
  max-width: 1440px;
  padding: 72px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/herobg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  max-width: 217px;
  margin: 72px auto;
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero-image {
    padding: 112px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/herobgt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.08;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-image {
    padding: 188px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herobg-mob@2x.jpg");
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herobgt@2x.jpg");
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/herobg@2x.jpg");
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  flex-basis: content;
  margin-right: 24px;
}
.advantages-item:last-child {
  margin-right: 0;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-icon-cover {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages-item {
    flex-basis: calc((100% - 2 * 24px) / 2);
  }

  .advantages-item :nth-child(2) {
    margin-right: 0;
  }
  .advantages-title {
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    margin-right: 24px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .advantages-icon-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }
  .advantages-text {
    font-weight: 400;
  }
}
/* TEAM */

.team .container {
  width: 100%;
}

.team-son-icon {
  fill: #f4f4fd;
}

.team {
  background: #f4f4fd;
}
.team-card {
  padding: 0;
  flex-basis: content;
  margin: 0 0 72px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card:last-child {
  margin-bottom: 0;
}

.team-list {
  flex-basis: content;
  padding: 0;
  margin: 0 12px;
  justify-content: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-block {
  padding: 32px 0;
  margin-right: 0;
}

.team-avatar {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-son-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 16px 32px 16px;
}
.team-son-item {
  width: 40px;
  height: 40px;
}
.team-son-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-son-link:hover,
.team-son-link:focus {
  background-color: #404bbf;
}

.team-son-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .team-card {
    width: calc((100% - 3 * 24px) / 2);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0;
  }
  .team-card:last-child {
    margin-bottom: 0;
  }
  .team-block {
    padding: 32px 16 0;
  }

  .team-son-list {
    padding: 0 16px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    margin: 0;
  }
  .team-card {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.portfolio {
  color: #2e2f42;
}

.portfolio-item {
  width: fit-content;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}
.portfolio-list-top {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-hidden-p {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-hidden-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-offer {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.foot {
  background: #2e2f42;
  padding: 96px 0;
}

.logofoot {
  color: #f4f4fd;
}

.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 72px;
}

.footer-logo {
  margin: 0 auto 16px;
  display: block;
  text-align: center;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-contacts-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-son-list {
  gap: 16px;
}

.footer-son-link:hover,
.footer-son-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover {
  border-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-info {
    margin-right: 24px;
  }
  .footer-logo {
    display: inline-block;
    margin: 0 0 16px;
  }

  .footer-form {
    gap: 24px;
    display: flex;
    flex-direction: row;
  }
  .foot-text {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .foot {
    background: #2e2f42;
    padding: 96px 0;
  }
  .footer-info {
    margin-right: 120px;
  }

  .footer-logo {
    display: inline-block;
    margin: 0 0 16px;
  }

  .footer-contacts {
    display: inline-block;
    margin-right: 80px;
  }
}
